* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-PP: "PP Editorial New", sans-serif;
  --font-BT: "BDO Grotesk", sans-serif;
  --hovoer-color: #ff6c3b;
}
@media (max-width: 767px) {
  br {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 40%;
  }

  .middle-nav,
  .right-nav .button {
    display: none;
  }

  .hero {
    padding: 70px 30px 50px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .button-div {
    flex-direction: column;
  }

  .button-div p {
    width: 80%;
    text-align: center;
  }

  .hero-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-top: 30px;
    flex-direction: column;
    gap: 13px;
  }

  .text-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }

  .text-bottom h4 {
    font-size: 30px;
    border-top: 1px solid #242424;
  }

  .text-bottom:nth-child(2),
  .text-bottom:nth-child(3),
  .text-bottom:nth-child(4) {
    padding-left: 0px;
  }

  .text-bottom:nth-child(2)::before,
  .text-bottom:nth-child(3)::before,
  .text-bottom:nth-child(4)::before {
    display: none;
  }

  .text-bottom:nth-child(2)::after,
  .text-bottom:nth-child(3)::after,
  .text-bottom:nth-child(4)::after {
    display: none;
  }

  .showcase {
    padding: 1rem;
  }

  /* 1st section finished  responsive */

  /* 2nd section started  */

  .started-sec {
    /* min-height: 100vh; */
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .started-text h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .paragraph {
    margin-top: 25px;
    padding: 0 10px;
    letter-spacing: 1px;
  }

  .paragraph p {
    font-size: 17px;
    line-height: 1;
  }

  .started-button {
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .buttons span {
    font-size: 16px;
    font-weight: 400;
    padding: 7px 14px;
    line-height: 24px;
    border-radius: 16px;
  }

  .started-button .buttons:nth-of-type(3) {
    margin-top: 10px;
  }
  .outer-container {
    margin-top: 30px;
  }

  .images-container {
    flex-direction: column;
    padding: 3rem;
    gap: 15px;
  }
  .img-div {
    width: 360px;
  }

  .btn-div button {
    font-size: 14px;
    padding: 20px 30px;
  }

  .btn-div span {
    width: 40px;
    height: 40px;
    top: -21%;
    left: 64%;
  }

  /* 2nd section responsiveness finish  */

  /* <!-- section 3 start --> */

  .three-sec {
    padding: 4% 4% 2% 2%;
    /* padding: 6% 8%; */
  }

  .rotate-img {
    display: none;
  }

  .gsap-text span {
    font-size: 65px;
    display: inline-block;
  }

  .animation-text span {
    font-size: 65px;
    letter-spacing: -5px;
  }

  .gsap-para p {
    font-size: 20px;
    width: 100%;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .feature-list span {
    font-size: 16px;
  }

  .feature-list ul li {
    padding-left: 20px;
    font-size: 16px;
  }

  .gsap-button {
    margin-top: 20px;
  }

  .gsap-button .btn {
    font-size: 14px;
    padding: 15px 15px;
  }
  .shape {
    display: none;
  }

  .video-shape {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
  }

  .video-shape img {
    width: 100%;
  }

  /* section 3 responsiveness finish  */

  /* section 4 started  */

  .four {
    padding-bottom: 5%;
  }

  .four-text {
    padding: 2rem 2%;
  }

  .four-text h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
  }

  .four-text h3,
  .four-text h3 span {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .s4-sec {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* padding: 0 100px; */
    gap: 0px;
    margin-top: 14px;
    margin-bottom: 50px;
    padding-left: 2%;
  }
  .s4-text {
    padding-left: 0;
    position: none;
  }

  .s4-text img {
    display: none;
  }

  .s4-text h2 {
    font-size: 150px;
    letter-spacing: -14px;
    font-family: var(--font-PP);
    font-weight: 500;
  }

  .s4-paragrapgh p {
    font-size: 18px;
    width: 95%;
    margin-bottom: 30px;
  }
  .s4-paragrapgh .btn {
    font-size: 14px;
    padding: 15px 22px;
  }

  .s4-showcase-div img {
    width: 55%;
    height: 58%;
    border-radius: 30px;
  }

  .sec-showcase {
    margin-top: 20px;
  }

  /* section 4 responsiveness finish  */

  /* section 5 started  */

  .s5 {
    padding: 3rem 4%;
  }

  .s5-sec {
    flex-direction: column;
    margin-top: 40px;
  }

  .s5-sec-left h2 {
    display: inline-block;
    font-size: 35px;
    line-height: 1.2;
  }

  .s5-sec-left p {
    margin-top: 20px;
    font-size: 18px;
    width: 90%;
  }

  .s5-sec-right {
    margin-top: 20px;
    width: 100%;
    position: none;
  }

  .s5-sec-right img:nth-child(2) {
    width: 95%;
    position: relative;
    display: block;
    top: 440px;
    right: 0;
    transition: none;
    animation: none;
    z-index: 3;
  }

  .s5-sec-right img:nth-child(3) {
    width: 95%;
    position: relative;
    display: block;
    bottom: 0;
    top: -195px;
    right: 0;
    transform: none;
    animation: none;
    z-index: 2;
  }

  .s5-icon-container {
    margin-top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .icons-divs p {
    font-size: 18px;
  }

  .s5-line {
    margin-top: 40px;
    border-bottom: 1px solid #2e2e2e;
  }

  /* end of section 5 responsiveness */

  /* start section 6  */

  .s6 {
    background-color: #f5f5f5;
    padding: 3rem 2%;
  }

  .s5-top-para {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .s5-top-text h2 {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 6px;
  }

  .s5-top-text h2:nth-child(3) {
    display: inline-block;
  }

  .s5-top-para p {
    width: 99%;
  }

  .s6-img-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 40px;
  }

  .top-left h5,
  .top-right h5 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .top-left-img img,
  .top-right-img img {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
  }

  .s6-middle-imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
  }

  .middle-top-left {
    max-width: 450px;
    width: 100%;
    padding: 1.7rem 1.5rem 1rem;
  }

  .middle-top-left h5 {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 70px;
  }

  .middle-top-left-img img {
    width: 100%;
  }

  .middle-center {
    max-width: 450px;
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 1rem 1rem;
    border-radius: 30px;
  }

  .middle-center h5 {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 50px;
  }

  .middle-right {
    max-width: 450px;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 30px;
  }

  .middle-right h4 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .middle-right h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 40px;
  }

  /* section 6 responsiveness end  */

/* .section  7 start  */

.s7 {
  background-color: #1c1c1c;
}
.s7-top-text {
  text-align: center;
  padding: 3rem 5%;
}

.s7-top-text h2 {
  font-size:30px;
  line-height: 1.2;
  letter-spacing: 0;
}

.s7-top-text p {
  font-size: 16px;
}

.s7-icons-container {
  margin-top: 20px;
}

.s7-icons-div{
    padding: 20px 22px;
}

.s7-box{
  background-color: #262626;
  padding: 2rem 4%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 50px;
  width: 91%;
 }



 .box-middle-text  h3 {
  font-size: 19px;
  font-family: var(--font-BT);
  font-weight: 500;
  color: #999;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 50px;
}

.box-images-div img {
  margin-bottom: 10px;
  width: 100%;
}

.box-images-div + img {
  width: 100%;
  border-radius: 10px;
}

.box-images-div + img + img {
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items:center ;
  gap: 40px;
  margin-top: 40px;
}

.first-box span,.second-box span,.third-box span,.four-box span{
 font-size: 16px;
}

.first-box p,.second-box p,.third-box p,.four-box p{
 font-size: 16px;
    width: 100%;
}

/* section 7 responsiveness end  */

/* section 8 start  */


.s8-top-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 3%;
  gap: 2rem;
}

.top-item-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.left-side-item {
  padding: 1rem 1rem 1rem 1.4rem;
  max-width: 400px;
  border-radius: 30px;
  width: 100%;
}

.left-side-item h6 {
  font-size: 18px;
}
.authors h4 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.author-imgs img {
  height: 50px;
  width: 50px;
}

.right-side-item {
  padding: 2rem 1rem 1rem 1.4rem;
  max-width: 350px;
  width: 100%;
  border-radius: 20px;
}

.right-side-item p {
    font-size: 16px;
  margin: 15 0 0;
}


.s8-middle-text h3 {
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0;
}

.s8-middle-text p {
  font-size: 16px;
  margin-top: 15px;
  width: 95%;
}

.faq-section {
  max-width: 500px;
  margin: 0;
  padding: 0 0.5rem;
  font-family: var(--font-BT);
}


.faq-container {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.bottom-h2 {
  padding: 1rem 0.8rem;
  font-size: 39px;
  line-height: 1;
}

.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 30px;
  gap: 1rem;
}

.footer-div-one img {
  width: 15%;
} 

.footer-div-one p {
  font-size: 18px;
  font-family: var(--font-BT);
  color: white;
}
/* section 8 responsivceness finish  */
}
