* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-PP: "PP Editorial New", sans-serif;
  --font-BT: "BDO Grotesk", sans-serif;
  --hovoer-color: #ff6c3b;
}

*::selection {
  background-color: var(--hovoer-color);
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #121212;
  /* min-height: 100vh ; */
  position: relative; /* Required for absolute positioning of video */
  overflow: hidden;
  width: 100%;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.nav,
.hero,
.showcase {
  position: relative;
  z-index: 1;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #5454545d;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-40px);
  animation: navbar 2s ease-out 0.4s forwards;
}

.logo {
  width: 10%;
}

.logo img {
  width: 100%;
}

.middle-nav {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-nav a {
  text-decoration: none;
  font-family: var(--font-BT);
  font-size: 16px;
  color: white;
  transition: all ease-in 0.2s;
}

.middle-nav a:hover {
  color: var(--hovoer-color);
}

.middle-nav a i:hover {
  transform: rotate(180deg);
  color: white;
}

.button {
  font-family: var(--font-BT);
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  transition:
    color 0.3s ease,
    background-color 0.4s ease;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.5s ease;
  background-color: var(--hovoer-color);
}

.button:hover::before {
  cursor: pointer;
  height: 100%;
}

.button:hover {
  cursor: pointer;
  color: white;
}

@keyframes navbar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  padding: 100px 60px 15px;
  overflow: hidden;
}

.hero-text h1 {
  color: white;
  /* color: #1877f2; */
  font-size: 110px;
  text-align: center;
  font-family: var(--font-BT);
  line-height: 1;
  font-weight: 600;
  opacity: 0;
  transform: translateY(100%);
  animation: reveal 2s ease 0.4s forwards;
}

.hero-text h1 span {
  font-family: var(--font-PP);
  font-style: italic;
  font-weight: 400;
  opacity: 0;
  color: var(--hovoer-color);
  animation: reveal 1s ease 0.4s forwards;
}

@keyframes reveal {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-text h1:nth-child(1) {
  animation-delay: 0.2s;
}
.hero-text h1:nth-child(2) {
  animation-delay: 0.5s;
}
.hero-text h1:nth-child(3) {
  animation-delay: 0.8s;
}
.hero-text h1 span {
  animation-delay: 1.1s;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 14px;
}

.btn {
  font-size: 18px;
  font-family: var(--font-BT);
  padding: 20px 22px;
  border-radius: 40px;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--hovoer-color);
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeleft 2s ease-out 0.4s forwards;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.8s ease;
  background-color: white;
}

.btn:hover::before {
  height: 100%;
}

.btn:hover {
  color: black;
}
.btn:hover i {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

@keyframes fadeleft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.button-div p {
  color: #999999;
  font-size: 16px;
  font-family: var(--font-BT);
  width: 20%;
  opacity: 0;
  transform: translateX(50px);
  animation: fadeRight 1s ease-out 0.4s forwards;
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  margin-top: 30px;
}

.text-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  animation: reveal 2s ease 0.4s forwards;
  opacity: 0;
  transform: translateY(30px);
}
/* .text-bottom::before {
   
} */

/* .text-bottom::after {
 
} */

.text-bottom h4 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-BT);
  line-height: 1.22;
  color: var(--hovoer-color);
}

.text-bottom p {
  font-size: 18px;
  font-family: var(--font-BT);
  color: #999999;
}
.text-bottom:nth-child(1) h4 {
  margin-top: 10px;
}

.text-bottom:nth-child(1) {
  border-top: 1px solid #242424;
  animation-delay: 0.2s;
}
.text-bottom:nth-child(2) {
  animation-delay: 0.5s;
}
.text-bottom:nth-child(3) {
  animation-delay: 0.8s;
}

.text-bottom:nth-child(4) {
  animation-delay: 1.1s;
}

.text-bottom:nth-child(2),
.text-bottom:nth-child(3),
.text-bottom:nth-child(4) {
  padding-left: 25px;
}
.text-bottom:nth-child(2)::before,
.text-bottom:nth-child(3)::before,
.text-bottom:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #292929;
}

.text-bottom:nth-child(2)::after,
.text-bottom:nth-child(3)::after,
.text-bottom:nth-child(4)::after {
  content: "";
  position: absolute;
  top: -10px;
  height: 1px;
  width: 100%;
  background-color: #292929;
}

.showcase {
  padding: 4rem;
}

.showcase {
  overflow: hidden;
  white-space: nowrap;
}

.bottom-shadow {
  position: relative;
}

.pics-showcase {
  white-space: nowrap;
  position: relative;
  animation: move 7s linear infinite;
}

.pics-showcase::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background: linear-gradient(250deg, rgba(17, 17, 17, 0) 56.9%, #111 102.77%);
}

.pics-div {
  display: flex;
  gap: 10px;
}

.pics-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* 2nd main section get started section  */

.started-sec {
  background-color: #f5f5f5;
  /* min-height: 100vh; */
  padding-top: 100px;
  padding-bottom: 70px;
}

.started-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.started-text h2 {
  font-size: 80px;
  font-family: var(--font-BT);
  font-weight: 500;
  line-height: 75px;
  letter-spacing: -4px;
  color: #111111;
  text-align: center;
  transform: translateY(20%);
  animation: reveal 1s ease-out 0.2s forwards;
  animation-timeline: view(50% 20%);
  opacity: 0;
}

.started-text h2 span {
  font-family: var(--font-PP);
  font-style: italic;
}

.paragraph {
  margin-top: 20px;
}

.paragraph p {
  text-align: center;
  font-size: 18px;
  font-family: var(--font-BT);
  color: #555555;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.54px;
}

.started-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttons span {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-BT);
  color: #212529;
  padding: 7px 20px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  line-height: 24px;
  border-radius: 30px;
  letter-spacing: -0.48px;
}
.outer-container {
  margin-top: 80px;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 8rem;
  gap: 15px;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 380px;
}

.img-div img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.6s;
}

.imageReveal {
  /* animation: imgReveal both; */
  /* animation-timeline: view(50% 20%);  */
}

@keyframes imgReveal {
  from {
    filter: saturate(0) contrast(4) brightness(0.1) blur(5px);
    opacity: 0;
    scale: 0.95;
    translate: 0 4rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
.img-text {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.img-text h6 {
  font-size: 18px;
  color: #121212;
  font-family: var(--font-BT);
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.42px;
}
.img-text h6 span {
  font-size: 10px;
  background-color: #111111;
  color: #ffffff;
  font-family: var(--font-BT);
  padding: 2px 8px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.42px;
  border-radius: 4px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 10px;
  position: relative;
}

.btn-div::before,
.btn-div::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #121212;
}

.btn-div::before {
  margin: 0 30px;
}
.btn-div::after {
  margin: 0 30px;
}

/* .btn-div::before,.btn-div:after{

 content: ""; 
  display: block; 
  height: 1px; 
  width: 40%; 
  background-color: red; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translate(-50%,-50%);
  z-index: -5;
}

 */

.btn-div button {
  font-size: 18px;
  font-family: var(--font-BT);
  padding: 20px 22px;
  border-radius: 40px;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeleft 2s ease-out 0.4s forwards;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
  cursor: pointer;
}

.btn-div button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.8s ease;
  background-color: var(--hovoer-color);
}

.btn-div button:hover::before {
  height: 100%;
}

.btn-div button:hover {
  color: white;
}
.btn-div button:hover i {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.btn-div span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #98f026;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: -19%;
  left: 55%;
  text-align: center;
  font-family: var(--font-BT);
  color: #212529;
  font-size: 14px;
}

/* section 3rd  */

.three-sec {
  background-color: #ededed;
  position: relative;
  padding: 6% 8% 0 8%;
  /* padding: 6% 8%; */
}

.rotate-img img {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: rotate(-80deg);
  animation: showup both;
  animation-timeline: view(50% 20%);
}
@keyframes showup {
  to {
    transform: rotate(-11deg);
  }
}

.texts {
  display: flex;
  flex-direction: column;
}

@keyframes textreveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gsap-text span {
  font-size: 130px;
  font-family: var(--font-BT);
  color: #b4b3b1;
  display: inline-block;
  opacity: 0;
  /* opacity: 1; */
  transform: translateY(20px);
  /* animation: reveal 1s ease 0.2s forwards ; */
  animation: textreveal 1s ease-out forwards;
}

.gsap-text span:nth-child(1) {
  animation-delay: 0s;
}
.gsap-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.gsap-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.gsap-text span:nth-child(4) {
  animation-delay: 0.6s;
}

.animation-text span {
  font-size: 130px;
  font-family: var(--font-PP);
  font-style: italic;
  display: inline-block;
  color: #111111;
  letter-spacing: -10px;
  opacity: 0;
  /* opacity: 1; */
  transform: translateY(60px);
  animation: textreveal 1s ease-out forwards;
  transform: translateY(20px);
}

.animation-text span:nth-child(1) {
  animation-delay: 0s;
}
.animation-text span:nth-child(2) {
  animation-delay: 0.1s;
}
.animation-text span:nth-child(3) {
  animation-delay: 0.2s;
}
.animation-text span:nth-child(4) {
  animation-delay: 0.3s;
}
.animation-text span:nth-child(5) {
  animation-delay: 0.4s;
}
.animation-text span:nth-child(6) {
  animation-delay: 0.5s;
}
.animation-text span:nth-child(7) {
  animation-delay: 0.6s;
}
.animation-text span:nth-child(8) {
  animation-delay: 0.7s;
}
.animation-text span:nth-child(9) {
  animation-delay: 0.8s;
}

.gsap-para {
  margin-top: 20px;
}

.gsap-para p {
  font-size: 30px;
  font-family: var(--font-BT);
  color: #111111;
  width: 50%;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1.5px;
}

.gsap-para p span {
  color: #b4b3b1;
}

.feature-list {
  margin-top: 15px;
}

.feature-list span {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #111111;
  font-family: var(--font-BT);
  letter-spacing: -0.9px;
  margin-bottom: 10px;
  display: inline-block;
}

.feature-list ul {
  list-style: none;
  padding-left: 0;
}

.feature-list ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 3px;
  font-size: 18px;
  font-family: var(--font-BT);
  color: #111111;
  letter-spacing: -0.9px;
}

.feature-list ul li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  font-family: var(--font-BT);
  color: #111111;
  font-weight: bold;
}

.gsap-button {
  margin-top: 30px;
}
.shape {
  overflow: hidden;
  width: 20%;
}

.shape img {
  position: absolute;
  left: 22%;
  /* left: 351px; */
  bottom: 10%;
  /* bottom: 65px; */
  transform: translateY(0);
  animation: shapes 2s linear alternate-reverse infinite;
}

@keyframes shapes {
  to {
    transform: translateY(-10px);
  }
}

.video-shape {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.video-shape img {
  width: 45%;
}

.four {
  background-color: #f5f5f5;
  padding-bottom: 5%;
}

.four-text {
  color: #121212;
  padding: 4rem 6%;

}

.four-text h2 {
  font-size: 80px;
  font-family: var(--font-PP);
  font-style: italic;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  letter-spacing: -0.48px;
}

.four-text h3,
.four-text h3 span {
  font-size: 80px;
  font-family: var(--font-BT);
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  letter-spacing: -4px;
}

.s4-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 100px; */
  gap: 120px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.s4-text {
  padding-left: 300px;
  position: relative;
}

.s4-text h2 {
  line-height: 1;
  font-size: 350px;
  font-weight: 600;
  font-style: italic;
  color: #121212;
  letter-spacing: -14px;
  font-family: var(--font-PP);
}

.s4-sec img {
  position: absolute;
     left: 488px;
    bottom: 25px;
}
.s4-paragrapgh {
  display: flex;
  justify-content:  flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.s4-paragrapgh p{
margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.54px;
    color: #555555;
    font-family: var(--font-BT);
    width: 72%;
}
.s4-scroll {
  overflow: hidden;
  white-space: nowrap;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.s4-showcase {
  animation: move 25s linear infinite;
}

.s4-showcase-div{
  display: flex;
  gap: 10px;
}

.s4-showcase-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.sec-showcase {
  margin-top: 25px;
 animation: move 25s linear infinite reverse;
}


