* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-PP: "PP Editorial New", sans-serif;
  --font-BT: "BDO Grotesk", sans-serif;
  --hovoer-color: #ff6c3b;
}

*::selection {
  background-color: var(--hovoer-color);
}

html {
  scroll-behavior: smooth;
}


@keyframes fadeUpScroll {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.header {
  background-color: #121212;
  /* min-height: 100vh ; */
  position: relative; /* Required for absolute positioning of video */
  overflow: hidden;
  width: 100%;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.nav,
.hero,
.showcase {
  position: relative;
  z-index: 1;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #5454545d;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-40px);
  animation: navbar 2s ease-out 0.4s forwards;
}

.logo {
  width: 10%;
}

.logo img {
  width: 100%;
}

.middle-nav {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-nav a {
  text-decoration: none;
  font-family: var(--font-BT);
  font-size: 16px;
  color: white;
  transition: all ease-in 0.2s;
}

.middle-nav a:hover {
  color: var(--hovoer-color);
}

.middle-nav a i:hover {
  transform: rotate(180deg);
  color: white;
}

.button {
  font-family: var(--font-BT);
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  transition:
    color 0.3s ease,
    background-color 0.4s ease;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.5s ease;
  background-color: var(--hovoer-color);
}

.button:hover::before {
  cursor: pointer;
  height: 100%;
}

.button:hover {
  cursor: pointer;
  color: white;
}

@keyframes navbar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  padding: 100px 60px 15px;
  overflow: hidden;
}

.hero-text h1 {
  color: white;
  /* color: #1877f2; */
  font-size: 110px;
  text-align: center;
  font-family: var(--font-BT);
  line-height: 1;
  font-weight: 600;
  opacity: 0;
  transform: translateY(100%);
  animation: reveal 2s ease 0.4s forwards;
}

.hero-text h1 span {
  font-family: var(--font-PP);
  font-style: italic;
  font-weight: 400;
  opacity: 0;
  color: var(--hovoer-color);
  animation: reveal 1s ease 0.4s forwards;
}

@keyframes reveal {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-text h1:nth-child(1) {
  animation-delay: 0.2s;
}
.hero-text h1:nth-child(2) {
  animation-delay: 0.5s;
}
.hero-text h1:nth-child(3) {
  animation-delay: 0.8s;
}
.hero-text h1 span {
  animation-delay: 1.1s;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 14px;
}

.btn {
  font-size: 18px;
  font-family: var(--font-BT);
  padding: 20px 22px;
  border-radius: 40px;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--hovoer-color);
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeleft 2s ease-out 0.4s forwards;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.8s ease;
  background-color: white;
}

.btn:hover::before {
  height: 100%;
}

.btn:hover {
  color: black;
}
.btn:hover i {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

@keyframes fadeleft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.button-div p {
  color: #999999;
  font-size: 16px;
  font-family: var(--font-BT);
  width: 20%;
  opacity: 0;
  transform: translateX(50px);
  animation: fadeRight 1s ease-out 0.4s forwards;
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  margin-top: 30px;
}

.text-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  animation: reveal 2s ease 0.4s forwards;
  opacity: 0;
  transform: translateY(30px);
}
/* .text-bottom::before {
   
} */

/* .text-bottom::after {
 
} */

.text-bottom h4 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-BT);
  line-height: 1.22;
  color: var(--hovoer-color);
    animation: reveal 1s ease 0.4s forwards;
}

.text-bottom p {
  font-size: 18px;
  font-family: var(--font-BT);
  color: #999999;
}
.text-bottom:nth-child(1) h4 {
  margin-top: 10px;
}

.text-bottom:nth-child(1) {
  border-top: 1px solid #242424;
  animation-delay: 0.2s;
}
.text-bottom:nth-child(2) {
  animation-delay: 0.5s;
}
.text-bottom:nth-child(3) {
  animation-delay: 0.8s;
}

.text-bottom:nth-child(4) {
  animation-delay: 1.1s;
}

.text-bottom:nth-child(2),
.text-bottom:nth-child(3),
.text-bottom:nth-child(4) {
  padding-left: 25px;
}
.text-bottom:nth-child(2)::before,
.text-bottom:nth-child(3)::before,
.text-bottom:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #292929;
}

.text-bottom:nth-child(2)::after,
.text-bottom:nth-child(3)::after,
.text-bottom:nth-child(4)::after {
  content: "";
  position: absolute;
  top: -10px;
  height: 1px;
  width: 100%;
  background-color: #292929;
}

.showcase {
  padding: 4rem;
}

.showcase {
  overflow: hidden;
  white-space: nowrap;
}

.bottom-shadow {
  position: relative;
}

.pics-showcase {
  white-space: nowrap;
  position: relative;
  animation: move 7s linear infinite;
}

.pics-showcase::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background: linear-gradient(250deg, rgba(17, 17, 17, 0) 56.9%, #111 102.77%);
}

.pics-div {
  display: flex;
  gap: 10px;
}

.pics-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* 2nd main section get started section  */

.started-sec {
  background-color: #f5f5f5;
  /* min-height: 100vh; */
  padding-top: 100px;
  padding-bottom: 70px;
}

.started-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.started-text h2 {
  font-size: 80px;
  font-family: var(--font-BT);
  font-weight: 500;
  line-height: 75px;
  letter-spacing: -4px;
  color: #111111;
  text-align: center;
  transform: translateY(20%);
  animation: reveal 1s ease-out 0.2s forwards;
  animation-timeline: view(50% 20%);
  opacity: 0;
}

.started-text h2 span {
  font-family: var(--font-PP);
  font-style: italic;
}

.paragraph {
  margin-top: 20px;
}

.paragraph p {
  text-align: center;
  font-size: 18px;
  font-family: var(--font-BT);
  color: #555555;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.54px;
}

.started-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttons span {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-BT);
  color: #212529;
  padding: 7px 20px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  line-height: 24px;
  border-radius: 30px;
  letter-spacing: -0.48px;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 8rem;
  gap: 15px;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 380px;
}

.img-div img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.6s;
}

.imageReveal {
  animation: imgReveal both;
  animation-timeline: view(50% 20%); 
}

@keyframes imgReveal {
  from {
    filter: saturate(0) contrast(4) brightness(0.1) blur(5px);
    opacity: 0;
    scale: 0.95;
    translate: 0 4rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
.img-text {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.img-text h6 {
  font-size: 18px;
  color: #121212;
  font-family: var(--font-BT);
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.42px;
}
.img-text h6 span {
  font-size: 10px;
  background-color: #111111;
  color: #ffffff;
  font-family: var(--font-BT);
  padding: 2px 8px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.42px;
  border-radius: 4px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 10px;
  position: relative;
}

.btn-div::before,
.btn-div::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #121212;
}

.btn-div::before {
  margin: 0 30px;
}
.btn-div::after {
  margin: 0 30px;
}

/* .btn-div::before,.btn-div:after{

 content: ""; 
  display: block; 
  height: 1px; 
  width: 40%; 
  background-color: red; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translate(-50%,-50%);
  z-index: -5;
}

 */

.btn-div button {
  font-size: 18px;
  font-family: var(--font-BT);
  padding: 20px 22px;
  border-radius: 40px;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeleft 2s ease-out 0.4s forwards;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
  cursor: pointer;
}

.btn-div button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.8s ease;
  background-color: var(--hovoer-color);
}

.btn-div button:hover::before {
  height: 100%;
}

.btn-div button:hover {
  color: white;
}
.btn-div button:hover i {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.btn-div span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #98f026;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: -19%;
  left: 55%;
  text-align: center;
  font-family: var(--font-BT);
  color: #212529;
  font-size: 14px;
}

/* section 3rd  */

.three-sec {
  background-color: #ededed;
  position: relative;
  padding: 6% 8% 0 8%;
  /* padding: 6% 8%; */
}

.rotate-img img {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: rotate(-80deg);
  animation: showup both;
  animation-timeline: view(50% 20%);
}
@keyframes showup {
  to {
    transform: rotate(-11deg);
  }
}

.texts {
  display: flex;
  flex-direction: column;
}

@keyframes textreveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gsap-text span {
  font-size: 130px;
  font-family: var(--font-BT);
  color: #b4b3b1;
  display: inline-block;
  opacity: 0;
  /* opacity: 1; */
  transform: translateY(20px);
  animation: reveal 1s ease 0.2s forwards ;
  animation: textreveal 1s ease-out forwards;
}

.gsap-text span:nth-child(1) {
  animation-delay: 0s;
}
.gsap-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.gsap-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.gsap-text span:nth-child(4) {
  animation-delay: 0.6s;
}

.animation-text span {
  font-size: 130px;
  font-family: var(--font-PP);
  font-style: italic;
  display: inline-block;
  color: #111111;
  letter-spacing: -10px;
  opacity: 0;
  /* opacity: 1; */
  transform: translateY(60px);
  animation: textreveal 1s ease-out forwards;
  transform: translateY(20px);
}

.animation-text span:nth-child(1) {
  animation-delay: 0s;
}
.animation-text span:nth-child(2) {
  animation-delay: 0.1s;
}
.animation-text span:nth-child(3) {
  animation-delay: 0.2s;
}
.animation-text span:nth-child(4) {
  animation-delay: 0.3s;
}
.animation-text span:nth-child(5) {
  animation-delay: 0.4s;
}
.animation-text span:nth-child(6) {
  animation-delay: 0.5s;
}
.animation-text span:nth-child(7) {
  animation-delay: 0.6s;
}
.animation-text span:nth-child(8) {
  animation-delay: 0.7s;
}
.animation-text span:nth-child(9) {
  animation-delay: 0.8s;
}

.gsap-para {
  margin-top: 20px;
}

.gsap-para p {
  font-size: 30px;
  font-family: var(--font-BT);
  color: #111111;
  width: 50%;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1.5px;
    transform: translateY(40px);
  animation: fadeUpScroll 1s ease-out forwards;
}

.gsap-para p span {
  color: #b4b3b1;
}

.feature-list {
  margin-top: 15px;
}

.feature-list span {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #111111;
  font-family: var(--font-BT);
  letter-spacing: -0.9px;
  margin-bottom: 10px;
  display: inline-block;
}

.feature-list ul {
  list-style: none;
  padding-left: 0;
}

.feature-list ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 3px;
  font-size: 18px;
  font-family: var(--font-BT);
  color: #111111;
  letter-spacing: -0.9px;
}

.feature-list ul li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  font-family: var(--font-BT);
  color: #111111;
  font-weight: bold;
}

.gsap-button {
  margin-top: 30px;
}
.shape {
  overflow: hidden;
  width: 20%;
}

.shape img {
  position: absolute;
  left: 22%;
  /* left: 351px; */
  bottom: 10%;
  /* bottom: 65px; */
  transform: translateY(0);
  animation: shapes 2s linear alternate-reverse infinite;
}

@keyframes shapes {
  to {
    transform: translateY(-10px);
  }
}

.video-shape {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.video-shape img {
  width: 45%;
}

/* section 3 finished  */

/* section 4 started  */

.four {
  background-color: #f5f5f5;
  padding-bottom: 5%;
}

.four-text {
  color: #121212;
  padding: 4rem 6%;

}

.four-text h2 {
  font-size: 80px;
  font-family: var(--font-PP);
  font-style: italic;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  letter-spacing: -2px;
    transform: translateY(40px);
  animation: fadeUpScroll 1s ease-out forwards;
  color: #111111;
}

.four-text h3,
.four-text h3 span {
  font-size: 80px;
  font-family: var(--font-BT);
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #111111;
  line-height: 0.9;
  letter-spacing: -4px;
    transform: translateY(40px);
  animation: fadeUpScroll 1s ease-out forwards;
}

.s4-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 100px; */
  gap: 120px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.s4-text {
  padding-left: 300px;
  position: relative;
}

.s4-text h2 {
  line-height: 1;
  font-size: 350px;
  font-weight: 600;
  font-style: italic;
  color: #121212;
  letter-spacing: -14px;
  font-family: var(--font-PP);
}

.s4-sec img {
  position: absolute;
     left: 488px;
    bottom: 25px;
}
.s4-paragrapgh {
  display: flex;
  justify-content:  flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.s4-paragrapgh p{
margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.54px;
    color: #555555;
    font-family: var(--font-BT);
    width: 72%;
}
.s4-scroll {
  overflow: hidden;
  white-space: nowrap;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.s4-showcase {
  animation: move 25s linear infinite;
}

.s4-showcase-div{
  display: flex;
  gap: 10px;
}

.s4-showcase-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.sec-showcase {
  margin-top: 20px;
 animation: move 25s linear infinite reverse;
}
/* section 4  finish  */


/* section 5 started  */

.s5 {
  background-color: #1c1c1c;
  padding: 8rem 8%;
}

.s5-box {
    width: fit-content;
    /* padding: 2rem 4%; */
}

.box-left {
    display: flex;
    align-items: center;
    background-color:#121212;
    justify-content: center;
     padding: 15px 29px;
    border-radius: 18px;
    gap: 10px;
    width: fit-content;
}

.box-left img {
  width: 80%;
}

.box-left,.box-left cite{
      font-size: 18px;
    line-height: 1.33;
    position: relative;
    color: white;
    font-family: var(--font-BT);
    letter-spacing: -0.03em;
}

.s5-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.s5-sec-left {
}

.s5-sec-left h2{
font-size: 80px;
font-family: var(--font-BT);
color: white;
line-height: 0.9;
font-weight: 500;
letter-spacing: -3px;
}


.s5-sec-left p {
  margin-top: 24px;
  font-size: 18px;
  font-family: var(--font-BT);
  color: #999999;
  width: 90%;
}


.s5-sec-right {
width: 100%;
position: relative;
}

.s5-sec-right img {
  width: 100%;
}

.s5-sec-right img:nth-child(2) {
  width: 20%;
  position: absolute;
  top: 33%;
right: 30%;
    animation: imgleft both;
    animation-timeline: view(40% 20%);
}

@keyframes imgleft {
  to {
    transform: translateX(-70px);
  }
}

.s5-sec-right img:nth-child(3) {
  width: 30%;
  position: absolute;
  top: 15%;
  right: 75%;
  transform: translateY(0);
     animation: imgbottom both;
    animation-timeline: view(70% 30%);
}

@keyframes imgbottom {
  to {
    transform: translateY(-100px);
  }
}

.s5-icon-container {
  margin-top: 180px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20px;
}

.icons-divs {
  display: flex;
  align-items: center;
  gap: 10px;
 }

.icon-div span{
  background-color: #202020;
  border-radius: 20px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-divs p {
  font-size: 16px;
  font-family: var(--font-BT);
  color: white;
  line-height: 1.2;
  font-weight: 500;
}


.s5-line {
  margin-top: 140px;
  border-bottom: 1px solid #2e2e2e;
}

/* end of section 5 */

/* start section 6  */

.s6 {
  background-color: #f5f5f5;
  padding: 5rem 9%;
}

.s5-top-text h2 {
font-size: 80px;
font-family: var(--font-BT);
color: #121212;
line-height: 0.9;
font-weight: 500;
letter-spacing: -3px;
}

.s5-top-para {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.s5-top-para p {
  font-size: 18px;
      font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.54px;
    color: #555555;
    width: 30%;
    font-family: var(--font-BT);
}
.s6-img-container {
  display: flex;
  gap: 1.2rem;
  margin-top: 70px;
}

.top-left,
.top-right {
  flex: 1;
  padding: 2rem 1.4rem 0 2rem;
  border-radius: 30px;
  max-width: 500px;
}

.top-left {
  background-color: #ededed;
}

.top-right {
  background-color: #ffffff;
}

.top-left h5,
.top-right h5 {
  font-family: var(--font-BT);
  font-size: 27px;          
  font-weight: 500;
  line-height: 1;        
  margin-bottom: 32px;
  color: rgba(17, 17, 17, 0.45);
    letter-spacing: -1.5px;
}

.top-left h5 span,
.top-right h5 span {
  color: #111111;
}

.top-left-img img,
.top-right-img img {
  object-fit: cover;
  width: 90%;
  border-radius: 32px;
}


.s6-middle-imgs {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.middle-top-left {
  background-color: #121212;
  width: 33%;
  padding: 2rem 3rem 0;
  border-radius: 30px;
  
}


.middle-top-left h5{
  color: rgba(255, 255, 255, 0.45);
  font-size: 30px;
  font-family: var(--font-BT);
  font-weight: 600;
  line-height: 0.9;
  padding-bottom:  100px;
  text-align: left;
}

.middle-top-left-img img {
  width: 70%;
  margin: 0 auto;
}

.middle-top-left h5 span {
color: white;
}

.middle-center {
  background-color: #ffffff;
  width: 35%;
  padding: 2rem 3rem 0;
  border-radius: 30px;
}

.middle-center h5 {
  font-size: 25px;
  font-family: var(--font-BT);
    color: rgba(17, 17, 17, 0.45);
    font-weight: 550;
    line-height: 1;
    padding-bottom: 100px;
}

.middle-center h5 span {
  color: #111111;
}

.middle-center-img img {
  width: 100%;
}

.middle-right{
  background-color: #ededed;
  width: 35%;
  padding: 2rem 2rem;
  border-radius: 30px;
}


.middle-right h4 {
font-size: 40px;
font-family: var(--font-BT);
 color: #111111;
 border-top: 1px solid #999999;
 margin-bottom: 26px;
}

.middle-right h5 {
font-size: 30px;
font-family: var(--font-BT);
    color: rgba(17, 17, 17, 0.45);
font-weight: 500;
line-height: 0.9;
padding-bottom: 60px;
}

.middle-right h5 span {
 color: #111111;
}
.middle-right-img img {
  width:95%;
}

/* section 6 end  */

/* .section  7 start  */
.s7 {
  background-color: #1c1c1c;
}
.s7-top-text {
  text-align: center;
  padding: 6rem 6%;
}

.s7-top-text h2 {
  font-size: 80px;
  font-family: var(--font-BT);
  color: #ffffff;
  line-height: 0.9;
  font-weight: 500;
  letter-spacing: -2px;
}

.s7-top-text h2 span {
  font-family: var(--font-PP);
  font-style: italic;
}

.s7-top-text p {
  font-size: 18px;
  font-family: var(--font-BT);
  color: #999;
    text-align: center;
    margin-top: 25px;
}

.s7-scroll {
position: relative;
 white-space: nowrap;
  overflow: hidden;
}

.s7-showcase {
  animation: move 35s linear infinite;
}
.s7-icons-container {
  display: flex;
  gap: 18px;
  margin-top: 30px;
 
}

.s7-icons-div{
  gap: 20px;
    color: #999;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 28px 30px;
    align-items: center;
    border-radius: 15px;
    white-space: nowrap;
    letter-spacing: -0.54px;
    background: #262626;
    width: fit-content;
}

.s7-second-showcase {
 animation: move 35s linear infinite reverse;
}

.s7-scroll:nth-child(5)::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(28, 28, 28, 0.9);
  z-index: 5;
  pointer-events: none;
}
.s7-box{
  background-color: #262626;
  padding: 2rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 20px;
  margin-top: 50px;
 }


.s7-box-text {
  background-color: #121212;
  width: fit-content;
  padding: 10px 25px;
   border-radius: 12px;
    margin-bottom: 20px;
   display: inline-block;
   
}

.s7-box-text h5 {
  font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.03em;
   color: white;
}

.box-middle-text h3 {
  font-size: 30px;
  font-family: var(--font-BT);
  font-weight: 500;
  color: #999;
  line-height: 0.9;
  letter-spacing: -1px;
  margin-bottom: 50px;
}

.box-middle-text h3 span {
 color: white;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items:center ;
  margin-top: 80px;
}

.first-box,.second-box,.third-box,.four-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 10px;
}

.first-box span,.second-box span,.third-box span,.four-box span{
 font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    padding: 7px 15px;
    font-family: var(--font-BT);
}


.first-box p,.second-box p,.third-box p,.four-box p{
 font-size: 18px;
    color: white;
    font-family: var(--font-BT);
    width: 75%;
    text-align: center;
}

/* section 7 end  */

/* section 8 start  */

.s8 {
  background-color: #f5f5f5;
  /* min-height: 80vh; */
}

.s8-top-item {
  display: flex;
  justify-content: space-between;
  padding: 5rem 8%;
  gap: 5rem;
}

.top-item-container {
  display: flex;
  gap: 10px;
}

.left-side-item {
  background-color: #121212;
  padding: 2rem 2rem 2rem 1.4rem;
  color: white;
  max-width: 250px;
  border-radius: 20px;
}

.left-side-item h6 {
  font-size: 18px;
  font-family: var(--font-BT);
}
.authors h4 {
  font-size: 30px;
  font-family: var(--font-BT);
  margin-top: 120px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 0.9;
  text-align: center;
}

.author-imgs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-imgs img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.right-side-item {
  background-color: #fff;
  padding: 2rem 2rem 2rem 1.4rem;
  max-width: 270px;
  border-radius: 20px;
}

.right-side-item  h6 {
    font-size: 30px;
  font-family: var(--font-BT);
  color: #121212;
  font-weight: 500;
  line-height: 0.9;
}

.right-side-item p {
    font-size: 18px;
  font-family: var(--font-BT);
  color: #555555;
  margin: 21px 0 0;
}

.right-side-btn {
  margin-top: 50px;
}
.s8-middle-text {
  flex: 2;
}

.s8-middle-text h3 {
  font-size: 65px;
   font-family: var(--font-BT);
  color: #121212;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2px;
}

.s8-middle-text p {
  font-size: 18px;
   font-family: var(--font-BT);
  color: #555555;
  font-weight: 500;
  margin-top: 15px;
  width: 70%;
}
.faq-section {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 2rem;
  font-family: var(--font-BT);
}

.faq-section h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 3rem;
}

.faq-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}

.faq-column {
  flex: 1;
  min-width: 300px; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

details {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background 0.3s;
   font-family: var(--font-BT);
  font-weight: 500;
  background-color: #fff;
}

details[open] {
  background: #ededed;
}

summary {
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  font-family: var(--font-BT);
  font-weight: 500;
}

summary::-webkit-details-marker {
  display: none; 
}

details p {
  margin-top: 0.8rem;
  font-size: 16px;
  line-height: 1.5;
}

.bottom-h2 {
  padding: 0 1rem;
  font-size: 140px;
  font-family: var(--font-BT);
  font-weight: 500;
  line-height: 1;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  margin-top: 60px;
  background-color: black;
}

.footer-div-one {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-div-one img {
  width: 10%;
} 

.footer-div-one p {
  font-size: 22px;
  font-family: var(--font-BT);
  color: white;
}
/* section 8 responsivceness finish  */
